
.fondo-index {
    background-image: url(../img/fondo.jpg);
   background-attachment: fixed;
}

footer {
    background-color: #9B7EBD;
}

footer  .redes-sociales a i{
    font-size: 30px;
    color: black;    
}
















